{:tasks
 {:requires ([babashka.process :as p])
  
  test {:doc "Run tests with Kaocha"
        :task (p/shell "clojure" "-M:test")}
  
  test-watch {:doc "Run tests in watch mode"
              :task (p/shell "clojure" "-M:test" "--watch")}
  
  run {:doc "Run the application"
       :task (p/shell "clojure" "-M:run")
       :override-builtin true}
  
  repl {:doc "Start a REPL"
        :task (p/shell "clojure" "-M:repl")
        :override-builtin true}
  
  clean {:doc "Clean build artifacts"
         :task (p/shell "rm" "-rf" ".cpcache" "target")}
  
  uberjar {:doc "Build uberjar"
           :task (p/shell "clojure" "-T:build" "uberjar")
           :override-builtin true}
  
  docker {:doc "Build Docker image for linux/arm64"
          :task (p/shell "docker" "buildx" "build" "--platform" "linux/arm64" "-t" "clj-chess-bot" ".")}
  
  docker-inspect {:doc "Check Docker image platform"
                  :task (p/shell "docker" "inspect" "clj-chess-bot" "--format" "{{.Os}}/{{.Architecture}}")}}}}